.site-menu {
  @include list-reset();
  display: flex;
  justify-content: space-between;
}

.site-menu__link {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;

  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: $desktop-width) {
  .site-menu__link {
    font-size: 12px;
    line-height: 15px;
  }
}
